.mainmenu {
  height: 10vh;
  background-color: #D9D9D9;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #bab0a3;
  grid-column: -1 / 1;
  grid-row: 1;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainmenu img {
  margin-left: 20px;
  height: 80%;
}

.mainmenu h1 {
  margin-left: 20px;
  height: 80%;
  font-family: 'Edu QLD Beginner', cursive;
  font-weight: 700;
}