.ingredients-picker {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #bab0a3;

  grid-column: 4/5;
  grid-row: 3/4;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.buttons{

margin: 0 20px;
margin-bottom: 10px;

}

.color-buttons{
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}