.footer {

  background-color: #D9D9D9;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #bab0a3;
  grid-column: -1 / 1;
  grid-row: 5 /6;
  padding: 20px 0 0 20px;
  align-self: center;
}

.test {
  width: 30px;
  height: 30px;
 background-color: blue;
 align-self: center;
 
}